<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">

	<resultMap id="projectMap" type="com.example.demo.dto.ProjectDTO">
	  <result column="PRJ_SEQ" property="prjSeq"/>
	  <result column="CUS_CD" property="cusCD"/>
	  <result column="PRJ_NM" property="prjNm"/>
	  <result column="PRJ_ST_DT" property="prjSTDT"/>
	  <result column="PRJ_ED_DT" property="prjEDDT"/>
	  <result column="SKILLS" property="skills"/>
	</resultMap>
	
	<select id="getProjectList" parameterType="com.example.demo.dto.ProjectDTO" resultMap="projectMap">
	    SELECT *
	    FROM (
	    SELECT ROWNUM as rnum, b.*
		FROM (
		SELECT a.PRJ_SEQ
		FROM PROJECT_INFO a
		RIGHT OUTER JOIN (SELECT PRJ_SEQ
		, LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
		FROM (
		SELECT *
		FROM PROJECT_SKILL_TABLE
		<if test="skillList.size != 0">
			WHERE SK_CD IN <foreach item="item" collection="skillList" open="(" separator="," close=")"> #{item} </foreach>
		</if>
		)
		GROUP BY PRJ_SEQ) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		WHERE 1=1
        <if test="skillList.size != 0">
			AND SKILLS = #{skills}
		</if>
		<if test="prjSeq != 0">
			AND a.PRJ_SEQ = #{prjSeq}
		</if>
		<if test="prjNm != ''">
			AND a.PRJ_NM like '%' || #{prjNm} || '%'
		</if>
		<if test="cusCD != 0">
			AND a.CUS_CD = #{cusCD}
		</if>
		<if test="minSTDT != '' and maxSTDT != ''">
			AND a.PRJ_ST_DT BETWEEN #{minSTDT} AND #{maxSTDT}
		</if>
		<if test="minSTDT == '' and maxSTDT != ''">
			AND a.PRJ_ST_DT <![CDATA[ <= ]]> #{maxSTDT}
		</if>
		<if test="minSTDT != '' and maxSTDT == ''">
			AND a.PRJ_ST_DT <![CDATA[ >= ]]> #{minSTDT}
		</if>
		<if test="minEDDT != '' and maxEDDT != ''">
			AND a.PRJ_ED_DT BETWEEN #{minEDDT} AND #{maxEDDT}
		</if>
		<if test="minEDDT == '' and maxEDDT != ''">
			AND a.PRJ_ED_DT <![CDATA[ <= ]]> #{maxEDDT}
		</if>
		<if test="minEDDT != '' and maxEDDT == ''">
			AND a.PRJ_ED_DT <![CDATA[ >= ]]> #{minEDDT}
		</if>
		) a
			
		LEFT OUTER JOIN 
			
		(
		SELECT a.*, b.SKILLS
		FROM PROJECT_INFO a
		LEFT OUTER JOIN (SELECT PRJ_SEQ
		     , LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
		FROM PROJECT_SKILL_TABLE
		GROUP BY PRJ_SEQ
		) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		ORDER BY a.PRJ_SEQ
		)
		WHERE RNUM <![CDATA[>=]]> #{startNum} and RNUM <![CDATA[<=]]> #{endNum}
	</select>
	
	<select id="getProjectTotal" parameterType="java.util.HashMap" resultType="int">
	    SELECT COUNT(*)
		FROM (
	    SELECT *
		FROM (
		SELECT a.PRJ_SEQ
		FROM PROJECT_INFO a
		RIGHT OUTER JOIN (SELECT PRJ_SEQ
		, LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
		FROM (
		SELECT *
		FROM PROJECT_SKILL_TABLE
        <if test="skillList.size != 0">
			WHERE SK_CD IN <foreach item="item" collection="skillList" open="(" separator="," close=")"> #{item} </foreach>
		</if>
		)
		GROUP BY PRJ_SEQ) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		WHERE 1=1
       <if test="skillList.size != 0">
			AND SKILLS = #{skills}
		</if>
		<if test="prjSeq != 0">
			AND a.PRJ_SEQ = #{prjSeq}
		</if>
		<if test="prjNm != ''">
			AND a.PRJ_NM like '%' || #{prjNm} || '%'
		</if>
		<if test="cusCD != 0">
			AND a.CUS_CD = #{cusCD}
		</if>
		<if test="minSTDT != '' and maxSTDT != ''">
			AND a.PRJ_ST_DT BETWEEN #{minSTDT} AND #{maxSTDT}
		</if>
		<if test="minSTDT == '' and maxSTDT != ''">
			AND a.PRJ_ST_DT <![CDATA[ <= ]]> #{maxSTDT}
		</if>
		<if test="minSTDT != '' and maxSTDT == ''">
			AND a.PRJ_ST_DT <![CDATA[ >= ]]> #{minSTDT}
		</if>
		<if test="minEDDT != '' and maxEDDT != ''">
			AND a.PRJ_ED_DT BETWEEN #{minEDDT} AND #{maxEDDT}
		</if>
		<if test="minEDDT == '' and maxEDDT != ''">
			AND a.PRJ_ED_DT <![CDATA[ <= ]]> #{maxEDDT}
		</if>
		<if test="minEDDT != '' and maxEDDT == ''">
			AND a.PRJ_ED_DT <![CDATA[ >= ]]> #{minEDDT}
		</if>
		) a
			
		LEFT OUTER JOIN 
			
		(
		SELECT a.*, b.SKILLS
		FROM PROJECT_INFO a
		LEFT OUTER JOIN (SELECT PRJ_SEQ
		     , LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
		FROM PROJECT_SKILL_TABLE
		GROUP BY PRJ_SEQ
		) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
		ORDER BY a.PRJ_SEQ
		)
	</select>
	
	<insert id="addProject" parameterType="com.example.demo.dto.ProjectDTO">
		 INSERT INTO
		 	PROJECT_INFO (
		 		PRJ_SEQ,
		 		CUS_CD,
		 		PRJ_NM,
		 		PRJ_ST_DT,
		 		PRJ_ED_DT,
		 		PRJ_NOTE
		 		)
		 VALUES (
		 	PRJ_SEQ.NEXTVAL,
		 	#{cusCD},
		 	#{prjNm},
		 	#{prjSTDT},
		 	#{prjEDDT},
		 	#{prjNote}
		 )
		<selectKey resultType="int" keyProperty="prjSeq" order="AFTER">
	        SELECT PRJ_SEQ FROM PROJECT_INFO WHERE PRJ_NM = #{prjNm} AND CUS_CD = #{cusCD}
	    </selectKey>
	</insert>
	
	<select id="getProjectDetail" parameterType="com.example.demo.dto.ProjectDTO" resultMap="projectMap">
	   SELECT a.*, b.SKILLS
		FROM PROJECT_INFO a
		LEFT OUTER JOIN (SELECT PRJ_SEQ
		     , LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
		FROM PROJECT_SKILL_TABLE
		GROUP BY PRJ_SEQ) b
		ON a.PRJ_SEQ = b.PRJ_SEQ
        WHERE a.PRJ_SEQ = #{prjSeq}
	</select>
	
	<update id="editProject" parameterType="com.example.demo.dto.ProjectDTO">
		 UPDATE
		 	PROJECT_INFO
		 SET
		 	PRJ_NM = #{prjNm},
		 	PRJ_ST_DT = #{prjSTDT},
		 	PRJ_ED_DT = #{prjEDDT},
		 	CUS_CD = #{cusCD},
		 	PRJ_NOTE = #{prjNote}
		WHERE
			PRJ_SEQ = #{prjSeq}
	</update>
	
	<delete id="delProject" parameterType="java.util.List">
		DELETE FROM
		    PROJECT_INFO
		WHERE
		    PRJ_SEQ IN
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
</mapper>